<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new chat</title>
</head>
<body>
    <link rel="stylesheet" href="/new.css">

    <h2> create new chat</h2>
    <hr>

    <form method="post" action="/chats">
        <input placeholder="who are you" name="from"><hr>
        <textarea name="msg" id=""> write your message</textarea><hr>
        <input placeholder="add reciver" name="to" >

        <button>send message</button>


    </form>
    
</body>
</html>