<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>

    <h2>this is the home page website for our backend site</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat est nulla non debitis ratione consequuntur eveniet reprehenderit suscipit doloremque minus inventore sunt doloribus nisi, praesentium sint iste alias cumque omnis. Similique ducimus autem, repellendus accusantium rem dignissimos cupiditate vitae magni.</p>
    <button>click here</button>
    
</body>
</html>